:root {
  --max-width: 390px;
  --border-radius: 12px;
  --root-font-size: 16px;
  --font-mono: "Roboto Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", monospace;

  --background-color: #ffffff;
  --font-color: #333;
  --button-bg-color: #0c0c0c;
  --button-font-color: #e5e5e5;
  --button-bg-grey-color: #e5e5e5;
  --button-font-grey-color: #d8d8d8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
