.main {
  min-height: 100dvh;
  padding: 2rem;
  position: relative;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-block: 100px;
}

.button {
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 9999;
}
.description {
  font-size: 2rem;
}
.description p {
  text-align: center;
}

.double_down_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.popup_content > h3 {
  margin-block: 2rem;
  text-decoration: underline;
  line-height: 1.5;
}

.popup_content > p {
  margin-block: 2rem;
}
.popup_content {
  text-align: center;
}
