.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

.line {
  background-color: #e5e5e5;
  align-self: stretch;
  flex-shrink: 0;
  height: 0.5px;
}
