.layout {
  text-align: center;
  margin-top: 2.18rem;
}

.SmallButton {
  font-family: var(--font-mono);
  background-color: var(--button-bg-grey-color);
  color: var(--button-bg-color);
  border-radius: 0.3rem;
  padding: 8px 20px;
  font-size: 1rem;
}
