.header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  mix-blend-mode: difference;
  z-index: 1;
  .burger {
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
    // 미세 호버링시 버그 제거
    pointer-events: none;
    &::before,
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      mix-blend-mode: difference;
      background-color: white;
    }
  }
  .bounds {
    // border: 0.5px solid salmon;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // 미세 호버링시 버그 제거
    pointer-events: all;
    &:hover {
      transform: scale(2);
    }
  }
}
